*{
	margin : 0;
	padding : 0;
    font-family : Century Gothic;
    
}

header{
 background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.4)),url("high-resolution-backgrounds-14.jpg");
 height: 100vh;
 background-size:cover;
 background-position:center;
}	

ul{
float:right;  
list-style-type:none;
margin-top:25px;
margin-right:10px;
}

ul li{
display : inline-block 
}

ul li a{
text-decoration: none;
color : #fff;
padding: 5px 20px;
border: 1px solid #fff;
transition :0.6s ease;
}

ul li a:hover{
 background-color : #fff;
 color: #000;
}

.title{
    position : absolute;
    top :50%;
    left: 50%;
    transform :translate(-50%,-50%);
    }

.title{
    color:#fff;
    font-size: 30px;
}

.button{
    position: absolute;
    top: 60%;
    left:21%;
    
    display:inline-block;
  
}

.btn{
    border : 1px solid #fff;
    text-decoration: none;
color : #fff;
padding: 10px 8px ;
transition :0.6s ease;

}

.btn:hover{
    background-color : #fff;
    color: #000;
   }

